.typing-container {
    display: flex;
    align-items: center;
}
@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}
.input-cursor {
    display: inline-block;
    width: 2px;
    height: 42px;
    background-color: white;
    margin-left: 8px;
    animation: blinnk .6s linear infinite alternate;
}
.headertext{
    font-size: 500;
}
.divider{
    padding: 50px;
}
.centerTyped{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
}